.w{
    width: 1200px;
    margin: 0 auto;
}
header{
    height: 84px;
    padding-top: 17px;
    padding-left: 5px;
    border-bottom: 2px solid #b31610;
}
.article{
    height: 522px;
    border: 1px solid #dfdfdf;
    margin-top: 22px;
}
.article h3{
    height: 41px;
    background-color: #ececec;
    border-bottom: 1px solid #dfdfdf;
    font-size: 18px;
    line-height: 41px;
    padding: 0 10px;
    font-weight:400;
}
.article h3 span{
    float: right;
    font-size: 14px;
}
.article h3 span a{
    color: #ca111a;
}
.article form{
    width: 550px;
    height: 370px;
    margin-left: 385px;
    margin-top:56px;
}
.article form ul li label{
    display: inline-block;
    width: 85px;
    height: 36px;
    text-align: right;
    font-size: 14px;
    line-height: 36px;
}
.article form ul li:nth-child(-n+5) input{
    width: 242px;
    height: 36px;
    border: 1px solid #999999;
}
.article form ul li span{
    color: #e12d2c;
}
.article form ul li{
    margin-bottom: 20px;
}
.article form ul li i{
    margin-left: 12px;
}
.article form ul li:nth-child(4){
    margin-left: 146px;
}
.article form ul li em {
    display: inline-block;
    padding: 0 14px;
    color: #fff;
}
.ruo{
    background-color: #e00900;
}
.zhong{
    background-color: #39ba36;
}
.qiang{
    background-color: #f99200;
}
.copyright{
    margin-left: 100px;
    margin-top: 40px;
}
.copyright input{
    vertical-align: middle;
    margin-right: 14px;
}
.copyright a{
    color:#02a0e9;
}

.reg input{
    width: 200px;
    height: 34px;
    background-color: #ca111a;
    color: #fff;
    margin-left: 107px;
    margin-top: 20px;
}
footer{
    text-align: center;
}

footer ul{
    padding:24px 0px 17px 114px;
}
footer ul li{
    float: left; 
}
footer ul li a{
    padding: 0 16px;
}
footer p{
    line-height: 20px;
}